<div id="products">
	<div class="container">
		<br><br>
		<h1>En Andak contamos con las siguientes productos para el <br>cuidado personal:</h1>
		<div class="col-md-4">
			<div id="product_show">
				<h2></h2> <br>
				<ul>
<br><br><h2>Acidos:</h2>
<li> <span class="far fa-circle"></span>Ácido Cítrico</li>
<li> <span class="far fa-circle"></span>Acido Esteárico</li>
<li> <span class="far fa-circle"></span>Ácido Láctico</li>



<br><br><h2>Alcalis:</h2>
<li> <span class="far fa-circle"></span>Sosa Cáustica Escamas</li>
<li> <span class="far fa-circle"></span>Potasa Cáustica Escamas</li>

<br><br><h2>Alcoholes Grasos:</h2>
<li> <span class="far fa-circle"></span>Alcohol Cetílico</li>
<li> <span class="far fa-circle"></span>Alcohol Cetoestearílico</li>
<li> <span class="far fa-circle"></span>Alcohol Estearílico</li>

<br><br><h2>Conservadores:</h2>
<li> <span class="far fa-circle"></span>Benzoato de Sodio</li>
<li> <span class="far fa-circle"></span>Lactato de Sodio</li>
<li> <span class="far fa-circle"></span>Natamicina</li>
<li> <span class="far fa-circle"></span>Nisina</li>
<li> <span class="far fa-circle"></span>Sorbato de Potasio</li>

<br><br><h2>Edulcolorantes:</h2>
<li> <span class="far fa-circle"></span>Acesulfame K</li>
<li> <span class="far fa-circle"></span>Aspartame</li>
<li> <span class="far fa-circle"></span>Estevia</li>
<li> <span class="far fa-circle"></span>Sacarina</li>
<li> <span class="far fa-circle"></span>Sucralosa</li>
				</ul>
				<br><br>
			</div>
		</div>

		<div class="col-md-4">
			<div id="product_show">
				<h2></h2> <br>
				<ul>
<br><br><h2>Emulsificantes:</h2>
<li> <span class="far fa-circle"></span>Monoestearato de Glicerilo</li>



<br><br><h2>Emolientes:</h2>
<li> <span class="far fa-circle"></span>Miristato de Isopropilo</li>
<li> <span class="far fa-circle"></span>Palmitato de Isopropilo</li>
<li> <span class="far fa-circle"></span>Triglicéridos de cadena media</li>
<li> <span class="far fa-circle"></span>Modificadores de Reologia:</li>
<li> <span class="far fa-circle"></span>Goma Guar</li>
<li> <span class="far fa-circle"></span>Goma Konjac</li>
<li> <span class="far fa-circle"></span>Goma Xanthan</li>
<li> <span class="far fa-circle"></span>HPMC</li>

<br><br><h2>Oxidantes:</h2>
<li> <span class="far fa-circle"></span>Peróxido de Hidrógeno</li>

<br><br><h2>Otros:</h2>
<li> <span class="far fa-circle"></span>Alcanfor</li>
<li> <span class="far fa-circle"></span>Dióxido de Silicio</li>
<li> <span class="far fa-circle"></span>Dióxido de Titanio</li>
<li> <span class="far fa-circle"></span>Glicerina</li>
<li> <span class="far fa-circle"></span>Glicina</li>
<li> <span class="far fa-circle"></span>Mentol Natural</li>
<li> <span class="far fa-circle"></span>Monopropilenglicol</li>
<li> <span class="far fa-circle"></span>Sal Morton</li>
<li> <span class="far fa-circle"></span>Trietanolamina</li>
<li> <span class="far fa-circle"></span>Vitamina C</li>
				</ul>
				<br><br>
			</div>
		</div>

	</div>
</div>

<div class="container">
<div class="owl-carousel">
          <div> <%= image_tag "us08.png" %> </div>
          <div> <%= image_tag "us09.png" %> </div>
          <div> <%= image_tag "us10.png" %> </div>
          <div> <%= image_tag "us11.png" %> </div>
</div>
</div>



<script>
	$(".owl-carousel").owlCarousel(
		{
		items:4,
    margin:10,
    autoWidth:true
		});
</script>