<div id="products">
	<div class="container">
		<br><br>
		<h1>En Andak, contamos con las siguientes <br> Especialidades:</h1>
		<div class="col-md-4">
			<div id="product_show">
				<h2></h2> <br>
				<ul>

<br><br><h2>Ácidos</h2>
<li> <span class="far fa-circle"></span>Acido acético</li>
<li> <span class="far fa-circle"></span>Acido cítrico</li>
<li> <span class="far fa-circle"></span>Acido fumarico</li>
<li> <span class="far fa-circle"></span>Acido láctico (88% y polvo)</li>
<li> <span class="far fa-circle"></span>Acido malico</li>

<br><br><h2>Alkalis</h2>
<li> <span class="far fa-circle"></span>Potasa caustica flakes</li>
<li> <span class="far fa-circle"></span>Sosa caustica flakes</li>

<br><br><h2>Antioxidantes</h2>
<li> <span class="far fa-circle"></span>Acido ascórbico</li>
<li> <span class="far fa-circle"></span>Acido eritórbico</li>

<br><br><h2>Conservadores</h2>
<li> <span class="far fa-circle"></span>Acido sórbico</li>
<li> <span class="far fa-circle"></span>Benzoato de sodio</li>
<li> <span class="far fa-circle"></span>Conservadores naturales</li>
<li> <span class="far fa-circle"></span>Delvocid</li>
<li> <span class="far fa-circle"></span>Delvonis</li>
<li> <span class="far fa-circle"></span>Lactato de sodio</li>
<li> <span class="far fa-circle"></span>Metabisulfito de sodio</li>
<li> <span class="far fa-circle"></span>Natamicina</li>
<li> <span class="far fa-circle"></span>Nisina</li>
<li> <span class="far fa-circle"></span>Sorbato de potasio</li>



<br><br><h2>Edulcorantes</h2>
<li> <span class="far fa-circle"></span>Acesulfame k</li>
<li> <span class="far fa-circle"></span>Aspartame</li>

				</ul>
				<br><br>
			</div>
		</div>

		<div class="col-md-4">
			<div id="product_show">
				<h2></h2> <br>
				<ul>


<br><br><h2>Estevia</h2>
<li> <span class="far fa-circle"></span>Sacarina</li>
<li> <span class="far fa-circle"></span>Sucralosa</li>
<li> <span class="far fa-circle"></span>Linea gap (mezclas)</li>



<br><br><h2>Especialidades</h2>
<li> <span class="far fa-circle"></span>Antiespumantes</li>
<li> <span class="far fa-circle"></span>Extractos herbales</li>
<li> <span class="far fa-circle"></span>Extractos de café y te</li>
<li> <span class="far fa-circle"></span>Non dairy creamers</li>
<li> <span class="far fa-circle"></span>Sabores para helados (texturizados)</li>
<li> <span class="far fa-circle"></span>Sabores para Panificacion (inclusiones</li>

<br><br><h2>Emulsificantes</h2>

<li> <span class="far fa-circle"></span>Polisorbatos</li>
<li> <span class="far fa-circle"></span>Polisorbatos etoxilados</li>
<li> <span class="far fa-circle"></span>Monoestearato de Glicerilo</li>
<li> <span class="far fa-circle"></span>Esteroil lactilato de sodio</li>

<li> <span class="far fa-circle"></span>Pgpr</li>
<li> <span class="far fa-circle"></span>Lecitina de soya y girasol (gmo free)</li>

<br><br><h2>Hidrocoloides</h2>
<li> <span class="far fa-circle"></span>Fecula de papa</li>
<li> <span class="far fa-circle"></span>Goma guar</li>
<li> <span class="far fa-circle"></span>Goma konjac</li>
<li> <span class="far fa-circle"></span>Goma xanthan</li>
<li> <span class="far fa-circle"></span>Inulina</li>

				</ul>
				<br><br>
			</div>
		</div>


		<div class="col-md-4">
			<div id="product_show">
				<h2></h2> <br>
				<ul>

<br><br><h2>Lácteos</h2>
<li> <span class="far fa-circle"></span>Lactosa</li>
<li> <span class="far fa-circle"></span>Leche descremada</li>
<li> <span class="far fa-circle"></span>Suero dulce de leche</li>
<li> <span class="far fa-circle"></span>Sólidos de mantequilla</li>

<br><br><h2>Sales</h2>
<li> <span class="far fa-circle"></span>Bicarbonato de sodio</li>
<li> <span class="far fa-circle"></span>Carbonato de sodio</li>
<li> <span class="far fa-circle"></span>Citrato de sodio</li>
<li> <span class="far fa-circle"></span>Cloruro de amonio</li>
<li> <span class="far fa-circle"></span>Cloruro de calcio food</li>
<li> <span class="far fa-circle"></span>Cloruro de potasio usp</li>
<li> <span class="far fa-circle"></span>Cloruro de sodio usp</li>
<li> <span class="far fa-circle"></span>Fosfato disodico</li>
<li> <span class="far fa-circle"></span>Hexametafosfato de sodio</li>
<li> <span class="far fa-circle"></span>Nitrito de sodio</li>
<li> <span class="far fa-circle"></span>Sal morton (especialidades</li>

<br><br><h2>Otros</h2>
<li> <span class="far fa-circle"></span>Cocoa alkalina</li>
<li> <span class="far fa-circle"></span>Dióxido de silicio</li>
<li> <span class="far fa-circle"></span>Glicerina</li>
<li> <span class="far fa-circle"></span>Dióxido de titanio</li>

<br><br><h2>Oxidantes</h2>
<li> <span class="far fa-circle"></span>Peróxido de hidrogeno</li>

				</ul>
				<br><br>
			</div>
		</div>

	</div>
</div>

<div class="container">
<div class="owl-carousel">
          <div> <%= image_tag "us08.png" %> </div>
          <div> <%= image_tag "us09.png" %> </div>
          <div> <%= image_tag "us10.png" %> </div>
          <div> <%= image_tag "us11.png" %> </div>
</div>
</div>



<script>
	$(".owl-carousel").owlCarousel(
		{
		items:4,
    margin:10,
    autoWidth:true
		});
</script>