<div id="products">
	<div class="container">
		<br><br>
		<h1>En Andak, contamos con los siguientes <br> Químicos Básicos:</h1>
		<div class="col-md-4">
			<div id="product_show">
				<h2></h2> <br>
				<ul>
<li> <span class="far fa-circle"></span> Acido fosfórico alimenticio </li>
<li> <span class="far fa-circle"></span> Acido fosfórico ámbar </li>

<li> <span class="far fa-circle"></span> Ácido Bórico </li>
<li> <span class="far fa-circle"></span> Ácido Cítrico </li>
<li> <span class="far fa-circle"></span> Ácido Esteárico </li>
<li> <span class="far fa-circle"></span> Ácido Fluorhídrico </li>
<li> <span class="far fa-circle"></span> Ácido Oxálico </li>
<li> <span class="far fa-circle"></span> Ácido Sulfámico </li>

<li> <span class="far fa-circle"></span> Acido Sulfúrico </li>

<li> <span class="far fa-circle"></span> Arena Silica </li>
<li> <span class="far fa-circle"></span> Bicarbonato de Sodio </li>
<li> <span class="far fa-circle"></span> Bifluoruro de Amonio </li>
<li> <span class="far fa-circle"></span> Carbonato de Sodio Denso </li>
<li> <span class="far fa-circle"></span> Carbonato de Sodio Ligero </li>
<li> <span class="far fa-circle"></span> Cloruro de Amonio </li>
<li> <span class="far fa-circle"></span> Cloruro de Calcio </li>
<li> <span class="far fa-circle"></span> Cloruro de Zinc </li>
<li> <span class="far fa-circle"></span> Dióxido de Silicio </li>
<li> <span class="far fa-circle"></span> EDTA </li>
<li> <span class="far fa-circle"></span> Fluoruro de Zinc </li>
<li> <span class="far fa-circle"></span> Fosfonatos (HEDP, HPMA, ATMP,  </li>

<li> <span class="far fa-circle"></span> PBTC, HPAA, ATBS) </li>
				</ul>
				<br><br>
			</div>
		</div>

		<div class="col-md-4">
			<div id="product_show">
				<h2></h2> <br>
				<ul>
<li> <span class="far fa-circle"></span> Glicerina USP Kosher </li>
<li> <span class="far fa-circle"></span> Hexametafosfato de sodio </li>
<li> <span class="far fa-circle"></span> Hipoclorito de Sodio </li>
<li> <span class="far fa-circle"></span> Metabisulfito de Sodio </li>
<li> <span class="far fa-circle"></span> Nitrito de Sodio </li>

<li> <span class="far fa-circle"></span> Oxido de Silicio </li>
<li> <span class="far fa-circle"></span> Peróxido de Hidrógeno </li>
<li> <span class="far fa-circle"></span> Potasa Cáustica Escamas </li>
<li> <span class="far fa-circle"></span> Potasa Cáustica Líquida </li>
<li> <span class="far fa-circle"></span> Propilenglicol USP </li>
<li> <span class="far fa-circle"></span> Sacarina Sódica </li>
<li> <span class="far fa-circle"></span> Sosa Cáustica Escamas </li>
<li> <span class="far fa-circle"></span> Sosa Cáustica Microperlas </li>
<li> <span class="far fa-circle"></span> Sosa Líquida 50% </li>
<li> <span class="far fa-circle"></span> Sulfato de Cobre </li>
<li> <span class="far fa-circle"></span> Sulfato de Sodio </li>
<li> <span class="far fa-circle"></span> Tensoactivos </li>
<li> <span class="far fa-circle"></span> Tripolifosfato de Sodio </li>
<li> <span class="far fa-circle"></span> Yodo Perlas </li>
				</ul>
				<br><br>
			</div>
		</div>

	</div>
</div>

<div class="container">
<div class="owl-carousel">
          <div> <%= image_tag "us08.png" %> </div>
          <div> <%= image_tag "us09.png" %> </div>
          <div> <%= image_tag "us10.png" %> </div>
          <div> <%= image_tag "us11.png" %> </div>
</div>
</div>



<script>
	$(".owl-carousel").owlCarousel(
		{
		items:4,
    margin:10,
    autoWidth:true
		});
</script>